In [2]:
#Struktury danych biblioteki PANDAS
#Obiekt Series

import pandas as pd

In [3]:
obj = pd.Series([4,7,-5,3])
obj

In [4]:
obj.values

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
obj2 = pd.Series([4,7,-5,3], index=['a','b','d','c'])
obj2

In [7]:
obj2.index

Index(['a', 'b', 'd', 'c'], dtype='object')

In [8]:
obj2['a']

4

In [9]:
obj2['d'] = 455
obj2

In [10]:
obj2[['c','a','d']]

In [11]:
obj2[obj2>6]

In [12]:
obj2*2

In [13]:
'b' in obj2

True

In [14]:
'z' in obj2

False

In [15]:
sdata = {'Warszawa':45678,'Kraków':43256,"Lublin":38900,"Gdańsk":40876}
sdata

{'Warszawa': 45678, 'Kraków': 43256, 'Lublin': 38900, 'Gdańsk': 40876}

In [16]:
obj3 = pd.Series(sdata)
obj3

In [17]:
miasta = ['Poznań','Kraków','Rzeszów','Lublin']
obj4 = pd.Series(sdata,index=miasta)
obj4

In [18]:
pd.isnull(obj4)

In [19]:
obj3+obj4

In [20]:
#obiekt DataFrame

data = {'miasto':['Warszawa','Warszawa','Warszawa',"Kraków","Kraków","Kraków"],
        'rok':[2017,2018,2019,2018,2019,2020],
        'populacja': [2.7,2.75,3.05,0.85,0.91,1.05]}

frame = pd.DataFrame(data)

In [21]:
frame

,miasto,rok,populacja
0,Warszawa,2017,2.70
1,Warszawa,2018,2.75
2,Warszawa,2019,3.05
3,Kraków,2018,0.85
4,Kraków,2019,0.91
5,Kraków,2020,1.05

In [22]:
frame2 = pd.DataFrame(data,columns=['rok','miasto','populacja','waga'],index=['jeden','dwa','trzy',"cztery","pięć","sześć"])
frame2

,rok,miasto,populacja,waga
jeden,2017,Warszawa,2.70,NaN
dwa,2018,Warszawa,2.75,NaN
trzy,2019,Warszawa,3.05,NaN
cztery,2018,Kraków,0.85,NaN
pięć,2019,Kraków,0.91,NaN
sześć,2020,Kraków,1.05,NaN

In [23]:
frame2['waga'] = 19.99
frame2

,rok,miasto,populacja,waga
jeden,2017,Warszawa,2.70,19.99
dwa,2018,Warszawa,2.75,19.99
trzy,2019,Warszawa,3.05,19.99
cztery,2018,Kraków,0.85,19.99
pięć,2019,Kraków,0.91,19.99
sześć,2020,Kraków,1.05,19.99

In [24]:
import numpy as np

In [25]:
# frame2['waga'] = np.arange(6.)
frame2['waga'] = np.array([15,17,1.1,45,2,0.1])
frame2

,rok,miasto,populacja,waga
jeden,2017,Warszawa,2.70,15.0
dwa,2018,Warszawa,2.75,17.0
trzy,2019,Warszawa,3.05,1.1
cztery,2018,Kraków,0.85,45.0
pięć,2019,Kraków,0.91,2.0
sześć,2020,Kraków,1.05,0.1

In [26]:
daty = pd.date_range("20231207",periods=6)
daty

DatetimeIndex(['2023-12-07', '2023-12-08', '2023-12-09', '2023-12-10',
               '2023-12-11', '2023-12-12'],
              dtype='datetime64[ns]', freq='D')

In [27]:
fr = pd.DataFrame(np.random.randn(6,4),index=daty,columns=list("ABCD"))
fr

,A,B,C,D
2023-12-07,-0.047379,0.245352,-0.592430,-0.222437
2023-12-08,1.599313,2.289011,1.873700,-0.667910
2023-12-09,1.008242,0.477410,-0.752347,-0.398430
2023-12-10,1.886177,0.542365,0.846959,-1.653105
2023-12-11,-1.730968,-0.179199,0.030732,0.597880
2023-12-12,0.283727,0.459982,-0.499937,-1.997999

In [28]:
fr.head(3)

,A,B,C,D
2023-12-07,-0.047379,0.245352,-0.592430,-0.222437
2023-12-08,1.599313,2.289011,1.873700,-0.667910
2023-12-09,1.008242,0.477410,-0.752347,-0.398430

In [29]:
fr.tail(2)

,A,B,C,D
2023-12-11,-1.730968,-0.179199,0.030732,0.597880
2023-12-12,0.283727,0.459982,-0.499937,-1.997999

In [30]:
fr.to_numpy()

In [31]:
fr.describe()

,A,B,C,D
count,6.000000,6.000000,6.000000,6.000000
mean,0.499852,0.639153,0.151113,-0.723667
std,1.319993,0.850228,1.025569,0.958581
min,-1.730968,-0.179199,-0.752347,-1.997999
25%,0.035397,0.299009,-0.569306,-1.406806
50%,0.645985,0.468696,-0.234603,-0.533170
75%,1.451546,0.526126,0.642902,-0.266436
max,1.886177,2.289011,1.873700,0.597880

In [32]:
fr.T

,2023-12-07,2023-12-08,2023-12-09,2023-12-10,2023-12-11,2023-12-12
A,-0.047379,1.599313,1.008242,1.886177,-1.730968,0.283727
B,0.245352,2.289011,0.477410,0.542365,-0.179199,0.459982
C,-0.592430,1.873700,-0.752347,0.846959,0.030732,-0.499937
D,-0.222437,-0.667910,-0.398430,-1.653105,0.597880,-1.997999