In [1]:
#Struktury danych biblioteki PANDAS
#Obiekt Series

import pandas as pd

In [2]:
obj = pd.Series([4,7,-5,3])
obj

In [3]:
obj.values

In [4]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
obj2 = pd.Series([4,7,-5,3], index=['a','b','d','c'])
obj2

In [6]:
obj2.index

Index(['a', 'b', 'd', 'c'], dtype='object')

In [8]:
obj2['a']

4

In [9]:
obj2['d'] = 455
obj2

In [10]:
obj2[['c','a','d']]

In [12]:
obj2[obj2>6]

In [13]:
obj2*2

In [14]:
'b' in obj2

True

In [15]:
'z' in obj2

False

In [16]:
sdata = {'Warszawa':45678,'Kraków':43256,"Lublin":38900,"Gdańsk":40876}
sdata

{'Warszawa': 45678, 'Kraków': 43256, 'Lublin': 38900, 'Gdańsk': 40876}

In [17]:
obj3 = pd.Series(sdata)
obj3

In [19]:
miasta = ['Poznań','Kraków','Rzeszów','Lublin']
obj4 = pd.Series(sdata,index=miasta)
obj4

In [20]:
pd.isnull(obj4)

In [21]:
obj3+obj4

In [23]:
#obiekt DataFrame

data = {'miasto':['Warszawa','Warszawa','Warszawa',"Kraków","Kraków","Kraków"],
        'rok':[2017,2018,2019,2018,2019,2020],
        'populacja': [2.7,2.75,3.05,0.85,0.91,1.05]}

frame = pd.DataFrame(data)

In [24]:
frame

,miasto,rok,populacja
0,Warszawa,2017,2.70
1,Warszawa,2018,2.75
2,Warszawa,2019,3.05
3,Kraków,2018,0.85
4,Kraków,2019,0.91
5,Kraków,2020,1.05

In [26]:
frame2 = pd.DataFrame(data,columns=['rok','miasto','populacja','waga'],index=['jeden','dwa','trzy',"cztery","pięć","sześć"])
frame2

,rok,miasto,populacja,waga
jeden,2017,Warszawa,2.70,NaN
dwa,2018,Warszawa,2.75,NaN
trzy,2019,Warszawa,3.05,NaN
cztery,2018,Kraków,0.85,NaN
pięć,2019,Kraków,0.91,NaN
sześć,2020,Kraków,1.05,NaN

In [27]:
frame2['waga'] = 19.99
frame2

,rok,miasto,populacja,waga
jeden,2017,Warszawa,2.70,19.99
dwa,2018,Warszawa,2.75,19.99
trzy,2019,Warszawa,3.05,19.99
cztery,2018,Kraków,0.85,19.99
pięć,2019,Kraków,0.91,19.99
sześć,2020,Kraków,1.05,19.99

In [28]:
import numpy as np

In [33]:
# frame2['waga'] = np.arange(6.)
frame2['waga'] = np.array([15,17,1.1,45,2,0.1])
frame2

,rok,miasto,populacja,waga
jeden,2017,Warszawa,2.70,15.0
dwa,2018,Warszawa,2.75,17.0
trzy,2019,Warszawa,3.05,1.1
cztery,2018,Kraków,0.85,45.0
pięć,2019,Kraków,0.91,2.0
sześć,2020,Kraków,1.05,0.1