In [1]:
import numpy as np
import pandas as pd
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.random.seed(12345)
import matplotlib.pyplot as plt
%matplotlib inline
plt.rc('figure',figsize=(10,6))
np.set_printoptions(precision=4,suppress=True)

In [2]:
#Dane Kategoryczne
values = pd.Series(['apple','orange','apple','apple']*2)
values

In [3]:
pd.unique(values)

In [4]:
pd.value_counts(values)

In [5]:
values = pd.Series([0,1,0,0]*2)
dim = pd.Series(['apple','orange'])
values

In [6]:
dim

In [7]:
dim.take(values)

In [9]:
#typ categorical w bibliotece pandas
fruits = ['apple','orange','apple','apple']*2
N = len(fruits)
df = pd.DataFrame({
    'fruit':fruits,
    'basket_id':np.arange(N),
    'count':np.random.randint(3,15,size=N),
    'weight':np.random.uniform(0,4,size=N)
},
                  columns=['basket_id','fruit','count','weight'])

df

,basket_id,fruit,count,weight
0,0,apple,9,0.201952
1,1,orange,10,3.224939
2,2,apple,14,3.723263
3,3,apple,10,1.456118
4,4,apple,10,2.763792
5,5,orange,11,0.517258
6,6,apple,10,3.330746
7,7,apple,4,1.273415

In [10]:
fruit_cat = df['fruit'].astype('category')
fruit_cat

In [12]:
c = fruit_cat.values
type(c)

pandas.core.arrays.categorical.Categorical

In [13]:
c.categories

Index(['apple', 'orange'], dtype='object')

In [14]:
c.codes

In [15]:
df['fruit'] = df['fruit'].astype('category')
df.fruit