In [2]:
import numpy as np
import pandas as pd
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.random.seed(12345)
import matplotlib.pyplot as plt
%matplotlib inline
plt.rc('figure',figsize=(10,6))
np.set_printoptions(precision=4,suppress=True)

In [5]:
#mechanika interfejsu grupowania
df = pd.DataFrame({
    'klucz1':['a','a','b','b','a'],
    'klucz2':['jeden','dwa','jeden','dwa','jeden'],
    'dane1':np.random.randn(5),
    'dane2':np.random.randn(5)
})

df

,klucz1,klucz2,dane1,dane2
0,a,jeden,-0.539741,0.124121
1,a,dwa,0.476985,0.302614
2,b,jeden,3.248944,0.523772
3,b,dwa,-1.021228,0.000940
4,a,jeden,-0.577087,1.343810

In [6]:
grouped = df['dane1'].groupby(df['klucz1'])
grouped

In [7]:
grouped.mean()

In [8]:
means = df['dane1'].groupby([df['klucz1'],df['klucz2']]).mean()

means

In [9]:
means.unstack()

klucz2,dwa,jeden
klucz1,,
a,0.476985,-0.558414
b,-1.021228,3.248944

In [13]:
woj = np.array(['mazowieckie','małopolskie','lubelskie','pomorskie','śląskie'])
lata = np.array([2018,2018,2020,2018,2020])
df['dane1'].groupby([woj,lata]).mean()

In [14]:
df.groupby('klucz1').mean()

<ipython-input-14-1f540c8b2067>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('klucz1').mean()

,dane1,dane2
klucz1,,
a,-0.213281,0.590182
b,1.113858,0.262356

In [15]:
df.groupby(['klucz1','klucz2']).mean()

In [16]:
df.groupby(['klucz1','klucz2']).size()

In [17]:
df['dane1'].groupby([woj]).mean()

In [18]:
df['dane1'].groupby([lata]).mean()

In [19]:
#iteracja po grupach
for name,group in df.groupby('klucz1'):
    print(name)
    print(group)

a
  klucz1 klucz2     dane1     dane2
0      a  jeden -0.539741  0.124121
1      a    dwa  0.476985  0.302614
4      a  jeden -0.577087  1.343810
b
  klucz1 klucz2     dane1     dane2
2      b  jeden  3.248944  0.523772
3      b    dwa -1.021228  0.000940

In [20]:
for (k1,k2), group in df.groupby(['klucz1','klucz2']):
    print((k1,k2))
    print(group)

('a', 'dwa')
  klucz1 klucz2     dane1     dane2
1      a    dwa  0.476985  0.302614
('a', 'jeden')
  klucz1 klucz2     dane1     dane2
0      a  jeden -0.539741  0.124121
4      a  jeden -0.577087  1.343810
('b', 'dwa')
  klucz1 klucz2     dane1    dane2
3      b    dwa -1.021228  0.00094
('b', 'jeden')
  klucz1 klucz2     dane1     dane2
2      b  jeden  3.248944  0.523772

In [21]:
pieces = dict(list(df.groupby('klucz1')))
pieces['b']

,klucz1,klucz2,dane1,dane2
2,b,jeden,3.248944,0.523772
3,b,dwa,-1.021228,0.000940

In [23]:
df.dtypes
grouped = df.groupby(df.dtypes,axis=1)

In [24]:
for dtype,group in grouped:
    print(dtype)
    print(group)

float64
      dane1     dane2
0 -0.539741  0.124121
1  0.476985  0.302614
2  3.248944  0.523772
3 -1.021228  0.000940
4 -0.577087  1.343810
object
  klucz1 klucz2
0      a  jeden
1      a    dwa
2      b  jeden
3      b    dwa
4      a  jeden

In [25]:
#wybieranie kolumny lub podzbioru kolumn

df.groupby(['klucz1','klucz2'])[['dane2']].mean()

In [26]:
s_grouped = df.groupby(['klucz1','klucz2'])['dane2']
s_grouped

In [27]:
s_grouped.mean()

In [28]:
#grupowanie przy użyciu słowmników i serii

people = pd.DataFrame(np.random.randn(5,5),
                      columns=['a','b','c','d','e'],
                      index=['Leon','Filip','Anna','Olga','Nadia'])

people.iloc[2:3,[1,2]] = np.nan
people

,a,b,c,d,e
Leon,-0.713544,-0.831154,-2.370232,-1.860761,-0.860757
Filip,0.560145,-1.265934,0.119827,-1.063512,0.332883
Anna,-2.359419,NaN,NaN,-0.970736,-1.307030
Olga,0.286350,0.377984,-0.753887,0.331286,1.349742
Nadia,0.069877,0.246674,-0.011862,1.004812,1.327195

In [29]:
mapping = {
    'a':'czerwony',
    'b':'czerwony',
    'c':'niebieski',
    'd':'niebieski',
    'e':'czerwony',
    'f':'pomarańczowy'
}

In [30]:
by_column = people.groupby(mapping,axis=1)
by_column.sum()

,czerwony,niebieski
Leon,-2.405455,-4.230992
Filip,-0.372906,-0.943685
Anna,-3.666449,-0.970736
Olga,2.014076,-0.422601
Nadia,1.643745,0.992950

In [31]:
map_series = pd.Series(mapping)
map_series

In [32]:
people.groupby(map_series,axis=1).count()

,czerwony,niebieski
Leon,3,2
Filip,3,2
Anna,2,1
Olga,3,2
Nadia,3,2

In [33]:
#grupowanie przy użyciu poziomu indeksu

columns = pd.MultiIndex.from_arrays([['US','US','US','EU','EU'],
                                     [1,3,5,1,3]],
                                    names=['miasto','tenor'])

hier_df = pd.DataFrame(np.random.randn(4,5),columns=columns)
hier_df

In [34]:
hier_df.groupby(level='miasto',axis=1).count()

miasto,EU,US
0,2,3
1,2,3
2,2,3
3,2,3

In [35]:
#grupowanie przy użyciu funkcji

people.groupby(len).sum()

,a,b,c,d,e
4,-2.786613,-0.453169,-3.124118,-2.500211,-0.818045
5,0.630022,-1.019260,0.107966,-0.058701,1.660077

In [37]:
key_list = ['jeden','jeden','jeden','dwa','dwa']
w = people.groupby([len,key_list]).min()
print(w)

                a         b         c         d         e
4 dwa    0.286350  0.377984 -0.753887  0.331286  1.349742
  jeden -2.359419 -0.831154 -2.370232 -1.860761 -1.307030
5 dwa    0.069877  0.246674 -0.011862  1.004812  1.327195
  jeden  0.560145 -1.265934  0.119827 -1.063512  0.332883