In [2]:
import numpy as np
import pandas as pd
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.random.seed(12345)
import matplotlib.pyplot as plt
%matplotlib inline
plt.rc('figure',figsize=(10,6))
np.set_printoptions(precision=4,suppress=True)

In [5]:
#mechanika interfejsu grupowania
df = pd.DataFrame({
    'klucz1':['a','a','b','b','a'],
    'klucz2':['jeden','dwa','jeden','dwa','jeden'],
    'dane1':np.random.randn(5),
    'dane2':np.random.randn(5)
})

df

,klucz1,klucz2,dane1,dane2
0,a,jeden,-0.539741,0.124121
1,a,dwa,0.476985,0.302614
2,b,jeden,3.248944,0.523772
3,b,dwa,-1.021228,0.000940
4,a,jeden,-0.577087,1.343810

In [6]:
grouped = df['dane1'].groupby(df['klucz1'])
grouped

In [7]:
grouped.mean()

In [8]:
means = df['dane1'].groupby([df['klucz1'],df['klucz2']]).mean()

means

In [9]:
means.unstack()

klucz2,dwa,jeden
klucz1,,
a,0.476985,-0.558414
b,-1.021228,3.248944

In [13]:
woj = np.array(['mazowieckie','małopolskie','lubelskie','pomorskie','śląskie'])
lata = np.array([2018,2018,2020,2018,2020])
df['dane1'].groupby([woj,lata]).mean()

In [14]:
df.groupby('klucz1').mean()

<ipython-input-14-1f540c8b2067>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('klucz1').mean()

,dane1,dane2
klucz1,,
a,-0.213281,0.590182
b,1.113858,0.262356

In [15]:
df.groupby(['klucz1','klucz2']).mean()

In [16]:
df.groupby(['klucz1','klucz2']).size()

In [17]:
df['dane1'].groupby([woj]).mean()

In [18]:
df['dane1'].groupby([lata]).mean()